@import "../../App.css";

.about-detail-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.about-details {
  font-family: var(--font-text);
  font-size: var(--font-size-m);
  line-height: 25px;
  text-align: justify;
}

@media screen and (max-width: 850px) {
  .about-detail-container {
    width: 700px;
  }
}

@media screen and (max-width: 768px) {
  .about-detail-container {
    margin: 0 auto;
    width: 90%;
  }
}
