.join-container {
  display: grid;
  grid-template-columns: 20% 70%;
  align-items: center;
  justify-items: center;
  text-align: center;
  max-width: 700px;
  width: 80%;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: var(--font-size-m);
  /* background-color: brown; */
}

.join-container img {
  width: 100px;
  height: auto;
  padding-right: 30px;
}

.join-info p {
  font-family: "Raleway", sans-serif;
  text-align: left;
}
<<<<<<< HEAD:src/components/Home/Join.css

@media screen and (max-width: 600px) {
=======
@media screen and (max-width: 500px) {
>>>>>>> main:src/css/Join.css
  .join-container {
    grid-gap: 20px;
    font-size: var(--font-size-s);
  }
}
