@import "../../App.css";

.WiC {
  padding: 50px;
  background-color: var(--main-light);
}

.WiC-Content {
  margin: 0 auto;
  display: grid;
  width: fit-content;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  grid-gap: 20px;
}

.WiC-Content img {
  max-width: 250px;
  height: auto;
  /* Shadow Effect */
  /* box-shadow: 0px 2px 10px var(--shadow);
  border-radius: 20px; */
}

.wic-title {
  font-family: "Bungee", cursive;
  color: var(--main-dark);
  font-size: 50px;
  text-align: left;
  line-height: 20px;
}

.wic-title.y {
  color: var(--white);
}

@media screen and (max-width: 996px) {
  .WiC {
    padding: 0px;
    background-color: var(--main-light);
    padding-bottom: 30px;
  }
  .WiC-Content img {
    /* display: none; */
    max-width: 200px;
  }

  .wic-title {
    font-size: 30px;
    line-height: 20px;
  }
}

@media screen and (max-width: 550px) {
  .WiC {
    padding: 20px;
    background-color: var(--main-light);
  }

  .WiC-Content img {
    display: none;
    /* max-width: 100px; */
  }

  .wic-title {
    font-size: 40px;
    line-height: 20px;
  }
}
