.about-details {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 25px;
  text-align: justify;
}

.about-detail-container {
  width: 70%;
  max-width: 1000px;
  margin: 0 auto;
}
