.about-details {
  font-family: "Raleway", sans-serif;
  font-size: var(--context-details);
  line-height: 25px;
  text-align: justify;
}

.about-detail-container {
  width: 70%;
  max-width: 1000px;
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  .about-details {
    font-size: var(--context-details-mobile);
    line-height: 20px;
    text-align: justify;
  }
}
