.btn {
  font-family: "Raleway", sans-serif;
  border: 5px solid var(--main-accent);
  border-radius: 5px;
  background-color: var(--white);
  color: var(--main-accent);
  padding: 15px;
  text-decoration: none;
  box-shadow: -1px 2px 4px var(--shadow);
}

.btn:hover {
  transition: all 0.2s ease;
  background-color: var(--main-accent);
  color: var(--white);
}

/* .btn.main {
  border: 5px solid var(--main-dark);
  color: var(--main-dark); */
/* } */
