.Event {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
}

.event-description {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  /* width: 100%; */
  max-width: 800px;
  margin: 0;
  margin-bottom: 20px;
}

.poster {
  /* width: 250px; */
  height: auto;
  border-radius: 10px;
}

.event-details {
  color: var(--main-dark);
  font-family: "Raleway", sans-serif;
  text-align: left;
  width: 100%;
}

.event-details h2 {
  color: var(--main-dark);
  font-family: "Bungee", cursive;
  text-align: left;
  margin: 0;
  line-height: 30px;
}

.event-details h3 {
  color: var(--main-accent);
  margin: 0;
}

.event-details p {
  text-align: justify;
}

.event-details-register {
  margin-top: 50px;
  width: fit-content;
}

@media screen and (max-width: 996px) {
  .event-description {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 500px) {
  .event-description {
    grid-template-columns: repeat(1, auto);
  }

  .event-details-register {
    margin: 0 auto;
    margin-top: 30px;
  }
}
