/* Logo Font */
/* font-family: 'Bungee', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

/* Text Font */
/* font-family: 'Raleway', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap");

:root {
  --main-light: #8dd3df;
  --main-dark: #152b2f;
  --main-accent: #548da3;
  --main-white: #ffffff;
  --main-yellow: #ffd419;

  --font-size-xl: 40px;
  --font-size-l: 20px;
  --font-size-m: 15px;
  --font-size-s: 15px;

  --shadow: rgba(59, 59, 75, 0.616);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
}

.Title {
  font-family: "Bungee", cursive;
  color: var(--main-dark);
  font-size: var(--font-size-xl);
  text-align: center;
  margin: 0px;
}

.Section {
  background-color: var(--white);
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}
