/* Logo Font */
/* font-family: 'Bungee', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

/* Text Font */
/* font-family: 'Raleway', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap");

:root {
  --main-light: #8dd3df;
  --main-dark: #152b2f;
  --main-accent: #548da3;
  --main-white: #ffffff;
  --main-yellow: #ffd419;

  --section-title: 40px;
  --context-title: 20px;
  --context-details: 18px;
  --context-details-mobile: 15px;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
}

.Title {
  font-family: "Bungee", cursive;
  color: var(--main-dark);
  font-size: var(--section-title);
  text-align: center;
  margin: 0px;
}

.Section {
  background-color: var(--white);
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}
